# type: ignore
[run]
source = src/{{cookiecutter.slug}}
omit = 
    test/*,
    src/{{cookiecutter.slug}}/__main__.py

[report]
exclude_lines =
    pragma: no cover

    # Ignore debug-only code
    def __repr__
    if self\.debug

    # Ignore defensive programming assertions
    raise AssertionError
    raise NotImplementedError

    # Ignore non-executable code
    if 0:
    if __name__ == '__main__':
